/* $TOC :: Table of Contents */
/* $RESET :: CSS resets for better homogeny across browsers */
/* $CONT :: The containers. Keep the grid from taking up 100% */
/* $GRID :: The Grid System */

/* $RESET */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
    list-style: none;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
    line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
    text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
    text-decoration-skip-ink: auto;
    color: currentColor;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
    min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
    scroll-margin-block: 5ex;
}

/* /RESET */

/* $GRID */
/* The columns. We set these inside a media query so they stack on mobile, but sit side-by-side on desktop (aka greater than 640px). */
[class|="grid"] {
    display: grid;
    grid-auto-rows: minmax(max-content);
    padding-inline: 1rem;
    gap: 2rem;
}

.grid-full,
.grid-half.stack {
    grid-template-columns: minmax(10px, 1fr);
}

.grid-half {
    grid-template-columns: repeat(2, minmax(10px, 1fr));
}

@media (min-width: 48rem) {
    .grid-half.stack {
        grid-template-columns: repeat(2, minmax(10px, 1fr));
    }

    .grid-third {
        grid-template-columns: repeat(3, minmax(10px, 1fr));
    }

    .grid-two-third-left {
        grid-template-columns: minmax(10px, 2fr) minmax(10px, 1fr);
    }

    .grid-two-third-right {
        grid-template-columns: minmax(10px, 1fr) minmax(10px, 2fr);
    }

    .grid-fourth {
        grid-template-columns: repeat(4, minmax(10px, 1fr));
    }

    .grid-two-fourth-left {
        grid-template-columns: minmax(10px, 2fr) minmax(10px, 1fr) minmax(10px, 1fr);
    }

    .grid-two-fourth-right {
        grid-template-columns: minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 2fr);
    }

    .grid-two-fourth-middle {
        grid-template-columns: minmax(10px, 1fr) minmax(10px, 2fr) minmax(10px, 1fr);
    }

    .grid-three-fourth-left {
        grid-template-columns: minmax(10px, 3fr) minmax(10px, 1fr);
    }

    .grid-three-fourth-right {
        grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr);
    }

    .grid-fifth {
        grid-template-columns: repeat(5, minmax(10px, 1fr));
    }

    .grid-two-fifth-left {
        grid-template-columns: minmax(10px, 2fr) minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 1fr);
    }

    .grid-two-fifth-left-middle {
        grid-template-columns: minmax(10px, 1fr) minmax(10px, 2fr) minmax(10px, 1fr) minmax(10px, 1fr);
    }

    .grid-two-fifth-right-middle {
        grid-template-columns: minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 2fr) minmax(10px, 1fr);
    }

    .grid-two-fifth-right {
        grid-template-columns: minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 2fr);
    }

    .grid-three-fifth-left {
        grid-template-columns: minmax(10px, 3fr) minmax(10px, 1fr) minmax(10px, 1fr);
    }

    .grid-three-fifth-middle {
        grid-template-columns: minmax(10px, 1fr) minmax(10px, 3fr) minmax(10px, 1fr);
    }

    .grid-three-fifth-right {
        grid-template-columns: minmax(10px, 1fr) minmax(10px, 1fr) minmax(10px, 3fr);
    }

    .grid-four-fifth-left {
        grid-template-columns: minmax(10px, 4fr) minmax(10px, 1fr);
    }

    .grid-four-fifth-right {
        grid-template-columns: minmax(10px, 1fr) minmax(10px, 4fr);
    }
}
/* /GRID */
